name: Compress Images

on:
  push:
    paths:
      - '**.png'
      - '**.jpg'
      - '**.jpeg'

jobs:
  compress:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Compress images
        uses: calibreapp/image-actions@main
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          compressOnly: true
          jpegQuality: 80
          pngQuality: 80
          
      - name: Commit compressed images
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Compress images [skip ci]"
          file_pattern: "*.png *.jpg *.jpeg"

